<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="stylesheet" href="script.js">
</head>

<body class="my-login-page">
    <style>
    body {
        background-image: url('18397.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: cover;
      }</style>
    <div class="wrapper">
        <div class="title">Login Form</div>        
        <form method="GET" class="my-login-validation" novalidate="" action="../create Project/project.html">
          <div class="field">
            <input type="text" required>
            <label>Email Address</label>
          </div>
          <div class="field">
            <input type="password" required>
            <label>Password</label>
          </div>
          <div class="content">
            <div class="checkbox">
              <input type="checkbox" id="remember-me">
              <label for="remember-me">Remember me</label>
            </div>
            <div class="pass-link"><a href="../passoword-reset/new_password.html">Forgot password?</a></div>
          </div>
          <div class="field">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Not a member? <a href="../signup/signup.html">Signup now</a></div>
          <div class="signup-link"><a href="../../index.html">Go Home</a></div>
        </form>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
    
    <script>
        $(document).ready(function() {
            $("#exampleModalCenter").modal();
        });
    </script>
</body>

</html>